@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.hallo1{
    text-align: center;
    font-size: 15rem;
    color: #29D68E;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw0OTE4MzZ8fGVufDB8fHx8&w=1000&q=80);
    background-position: top;
    animation:  ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.parent{
    font-size: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
    padding: 4rem;
}
.child{
    border: 5px solid #000000;
    text-align: center;
    color: #000000;
    padding: 2rem;
    margin: 10%;    
    background-color: #228B22;
    box-shadow: #333333;
    border-radius: 2rem;
    width: 23rem;
}
.pics{
    height: 15rem;
    width: 15rem;
    align-items: center;

}
/* .child:hover{
    transform: scale(1.2);
    border-color: #12ED31;
    background-color: #12ED31;
    box-shadow: teal;
    animation: ease-in;
    transition: .5s;
    transition-property: all;
} */
p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .box {
    width: 10rem;
    height: 10rem;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
  }
  
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}

    @media screen {
      (min-width: 32.2rem)
      (max-width: 48rem)
    }