html,
body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.hallo1{
    text-align: center;
    font-size: 15rem;
    color: #F3D3BD;
}
body{
    background-image: url(https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw0OTE4MzZ8fGVufDB8fHx8&w=1000&q=80);
    background-position: top;
    background-size: 300rem;
    animation:  ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.parent{
    font-size: 5rem;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
    padding: 4rem;
}
.child{
    border: 12px solid #F3D3BD);
    text-align: center;
    color: #48E5C2;
    padding: 6rem;
    margin: 10%;
    background-color: #FCFAF9;
    box-shadow: #333333;
    border-radius: 2rem;
    width: 23rem;
}
.pics{
    height: 15rem;
    width: 15rem;
    align-items: center;

}
.child:hover{
    transform: scale(1.2);
    border-color: aliceblue;
    background-color: white;
    box-shadow: teal;
    animation: ease-in;
    transition: .5s;
    transition-property: all;
}